<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>


</head>
<body>

<td class="left-chapters">
	<ul id="leftchapters">
{% if cat_selected == 0 %}
		<li class="selected">Show All</li>
{% else %}
		<li><a href="{% url 'main' %}">Show All Products</a></li>
{% endif %}

{% for c in cats %}
	{% if c.pk == cat_selected %}
		<li class="selected">{{c.category_name}}</li>
	{% else %}
		<li><a href="{{ c.get_absolute_url }}">{{c.category_name}}</a></li>
	{% endif %}
{% endfor %}
	</ul>
</td>

	<div class="content-text">
{% block content %}
{% endblock %}
	</div>

</body>
</html>